<ul>
  <% @books.each do |book| %>
      <li>
        <%= book.name %>
        <%= link_to 'Show', :controller => 'books', :action => 'show', :id => book %>
        <%= link_to 'Edit', :controller => 'books', :action => 'edit', :id => book %>
        <%= link_to 'Delete', :controller => 'books', :action => 'destroy', :id => book %>
      </li>
  <% end %>
</ul>
<%= link_to 'New Event', :controller => 'books', :action => 'new' %>